
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}
body {
  margin: 0;
}

/* navbar css start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 16px 0;
    background-color: #FFFFFF;
}
.logo img{
    width: 130px;
    height: auto;
}
.menu{
    display: flex;
    gap: 30px;
    align-items: center;
}
.navbar button{
    width: 150px;
    height: 45px;
    background-color: #30b868;
    border-radius: 4px;
    border: none;
}
/* .navbar css end  */

/* hero section css start */
.hero-content{
    text-align: center;
    width: 90%;
    height: 379px;
    align-items: center;
}
.banner{
    background-image: url('assets/hero-bg.png');
    background-size:cover;
    background-position: center;
      background-repeat: no-repeat;
    width: 100%;
   min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    text-align: center;
   width: 90%;
   height: 379px;
   align-items: center;
}
.hero-text-01{
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 1000px;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    color: #469165;
    border: 2px solid black;
}
.box-01{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #dae9e0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-02{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #9fc6af;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-03{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #469165;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text-02 h2{
    font-size: 72px;
    font-weight: 700;
   line-height: 84px;
   color: #FFFFFF;
   margin-top: 16px;
}
.hero-text-02 p{
    font-size: 72px;
    font-weight: 700;
   line-height: 84px;
   color: #30ac66;
   margin-bottom: 16px;
}

.hero-text-03 p{
      font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.hero-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
 .button-01{
    padding: 12px 16px ;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #469165;
    color: #FFFFFF;
}
.button-01 img{
    width: 20px;
    height: 20px;
}
.button-02{
    padding: 12px 16px ;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: transparent;
}
.button-01 img{
    width: 20px;
    height: 20px;
}
/* hero section css end */