
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}
body {
  margin: 0;
}

/* navbar css start */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 16px 0;
    background-color: #FFFFFF;
}
.logo img{
    width: 130px;
    height: auto;
}
.menu{
    display: flex;
    gap: 30px;
    align-items: center;
}
.navbar button{
    width: 150px;
    height: 45px;
    background-color: #30b868;
    border-radius: 4px;
    border: none;
}
/* .navbar css end  */

/* hero section css start */
.hero-content{
    text-align: center;
    width: 95%;
    height: 379px;
    align-items: center;
}
.banner{
    background-image: url('assets/hero-bg.png');
    background-size:cover;
    background-position: center;
      background-repeat: no-repeat;
    width: 100%;
   min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    text-align: center;
   width: 90%;
   height: 379px;
   align-items: center;
}
.hero-text-01{
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 1000px;
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    color: #469165;
    border: 2px solid black;
}
.box-01{
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #dae9e0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-02{
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #9fc6af;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-03{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #469165;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text-02 h1{
    font-size: 72px;
    font-weight: 700;
   line-height: 84px;
   color: #FFFFFF;
   margin-top: 16px;
}
.hero-text-02 p{
    font-size: 72px;
    font-weight: 700;
   line-height: 84px;
   color: #30ac66;
   margin-bottom: 16px;
}

.hero-text-03 p{
      font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.hero-buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
 .button-01{
    padding: 12px 16px ;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #469165;
    color: #FFFFFF;
}
.button-01 img{
    width: 20px;
    height: 20px;
}
.button-02{
    padding: 12px 16px ;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: transparent;
}
.button-01 img{
    width: 20px;
    height: 20px;
}
/* hero section css end */

 /* notes section css starts */

 .note{
    padding: 80px 0 60px 0;
 }
 .note h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
 }
 .note p{
    font-size: 16px;
    line-height: 24px;
     font-weight: 400;
    text-align: center;
    margin-bottom: 44px;
    color: #627382;
 }
 .box-container{
    width: 95%;
    margin: 0 auto;background-color: #fbfbfb;
    display: flex;
    justify-content:space-between;
    gap: 24px;
 }
 .note-box{
    width: 322px;
    height: 300px;
      padding: 20px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
 }
 .note-box .note-image{
    display: flex;
    justify-content: center;
 }
 .note-box .box-01{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #f95555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
 }
    .note-box h3{
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 16px;
         text-align: center;
    }
    .note-box p{
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #627382;
    }
    /* notes section css ends */
        /* Solution section css starts  */
        .Solution{
            width: 95%;
            margin: 0 auto;
            display: flex;  
            padding: 60px 0 60px 0;   
        }
        .Solution .Solution-image {
            width: 600px;
            height: 600px;
        }
        .Solution-content{
           
            margin-left: 60px;
            margin-top: 120px;
        }
.Solution-content .p-01{
    font-size: 16px;
    font-weight: 600;
    color: #30b868;
    margin-bottom: 16px;
    font-style: medium;
}
.Solution-content h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    font-style: bold;
}
.Solution-content .p-01{
    font-size: 16px;
    line-height: 24px;
    font-style: medium;
    font-weight: 500;
    color: #30b868;
    margin-bottom: 16px;
}
.Solution-content h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    font-style: bold;
   
}
.Solution-content h2 p{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    font-style: bold;   
}
.Solution-content .p-02{
    font-size: 16px;
    line-height: 24px;
    font-style: regular;
    font-weight: 400;
    color: #627382;
    width: 490px;
    margin-bottom: 40px;
}
.Solution-content ul li{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
 
}

        /* Solution section css ends  */